/* xs */
@media (max-width: 575px) {
	.book_now_card {
		height: 200px;
	}

	.header {
		font-size: 20px;
		line-height: 26px;
	}

	.subHeader {
		font-size: 12px;
	}

	.button {
		font-size: 8px;
		height: 20px;
	}
}

/* sm */
@media (min-width: 576px) {
	.book_now_card {
		height: 300px;
	}

	.header {
		font-size: 30px;
	}

	.subHeader {
		font-size: 20px;
	}

	.button {
		font-size: 12px;
		height: 25px;
	}
}

/* md */
@media (min-width: 768px) {
	.book_now_card {
		height: 400px;
	}

	.header {
		font-size: 35px;
	}

	.subHeader {
		font-size: 20px;
	}

	.button {
		font-size: 10px;
		height: 30px;
	}
}

/* lg */
@media (min-width: 992px) {
	.book_now_card {
		height: 450px;
	}

	.header {
		font-size: 36px;
	}

	.subHeader {
		font-size: 18px;
	}

	.button {
		font-size: 16px;
		height: 40px;
	}
}
